:root {
  --clean-white: #ffffff;
  --title: #2e2f42;
  --primary-text: #434455;
  --footer-text: #f4f4fd;
  --secondary-background: #f4f4fd;
  --hero-background: #2e2f42;
  --footer-background: #2e2f42;
  --iris-color: #4d5ae5;
}

body {
  background-color: var(--clean-white);
  color: var(--primary-text);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Header */
.header-logo {
  color: var(--iris-color);
}
.header-logo-element {
  color: var(--title);
}
.site-nav-item {
  color: var(--title);
}
.site-nav-item:hover {
  color: #404bbf;
}
.address-item {
  color: var(--primary-text);
}
.address-item:hover {
  color: #404bbf;
}

/* Section Hero */
.hero {
  background-color: var(--hero-background);
}
.main-title {
  color: var(--clean-white);
}
.hero-btn {
  color: var(--clean-white);
  background-color: var(--iris-color);
  cursor: pointer;
}

/* Section Advantages */
.secondary-title {
  color: var(--title);
}

/* Section What are we doing */
.section-title {
  color: var(--title);
}

/* Section Our team */
.team {
  background-color: var(--secondary-background);
}

/* Footer */
.footer {
  background-color: var(--footer-background);
}
.footer-logo {
  color: var(--iris-color);
}
.footer-logo-element {
  color: var(--footer-text);
}
.footer-text {
  color: var(--footer-text);
}
