/* Colors

Primary Brand -Iris- #4D5AE5 (CTAs, Focused, Active states, Links)

Pressed state -OCEAN- #404BBF (CTAs)

Dark -Navy blue- #2E2F42 (Overlays, Shadows, Headings)

Success -GREEN- #31D0AA (Valid fields, Success messages)

Text -SLATE- #434455 (Body text)

Subtle -LIGHT SLATE- Text #8E8F99 (Helper text, Deemphasized text)

Accent -cornflower- #E7E9FC (Accent color, Hairlines, Subtle backgrounds)

Light -CLOUD- #F4F4FD (Light mode backgrounds, Light mode Dialogs/alerts)

Modal overlay -NAVY BLU modal- #2E2F42 (Overlay)

Hero background -GREY- #2E2F42 (Hero image background)

White background -WHITE- #FFFFFF (Header, team card background)

Modal background -Dairy- #FCFCFC (Modal background) */

:root {
  --primary-text: #434455;
  --primary-background: #ffffff;
  --hero-background: #2e2f42;
  --secondary-background: #f4f4fd;
  --main-title: #ffffff;
  --section-title: #2e2f42;
  --secondary-title: #2e2f42;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-text);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Header */
.logo {
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}
.site-nav-item {
  color: #2e2f42;
}
.site-nav-item:hover {
  color: #404bbf;
}
.address-item {
  color: var(--primary-text);
}
.address-item:hover {
  color: #404bbf;
}

/* Section Hero */
.hero {
  background-color: var(--hero-background);
}
.title {
  color: var(--main-title);
}
.order {
}

/* Section Advantages */
.secondary-title {
  color: var(--secondary-title);
}

/* Section What are we doing */
.section-title {
  color: var(--section-title);
}

/* Section Our team */
.team {
  background-color: var(--secondary-background);
}

/* Footer */
